.navbar {
  background-image: linear-gradient(to left, black, #42893c);
  flex-direction: row;
  flex-wrap: inherit;
  column-gap: 10px; }
  .navbar .carrito {
    width: auto; }

body {
  background-color: #212529;
  text-align: center;
  color: #9b9494; }

.gridContainer {
  display: grid;
  grid-template-rows: repeat(7, auto); }

.banner {
  height: 12rem;
  width: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/banner.jpeg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ede4e4; }

.fastMenu {
  background-color: #212529;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
  color: white;
  justify-content: center; }
  .fastMenu .fastMenu_Automaticas, .fastMenu .fastMenu_Fotoperiodicas, .fastMenu .fastMenu_CBD, .fastMenu .fastMenu_FastFlower {
    background-color: #323e35;
    margin: 5px;
    border: .120rem solid #ccc;
    border-radius: 10px; }
    .fastMenu .fastMenu_Automaticas h5, .fastMenu .fastMenu_Fotoperiodicas h5, .fastMenu .fastMenu_CBD h5, .fastMenu .fastMenu_FastFlower h5 {
      margin-top: 7px; }
    .fastMenu .fastMenu_Automaticas p, .fastMenu .fastMenu_Fotoperiodicas p, .fastMenu .fastMenu_CBD p, .fastMenu .fastMenu_FastFlower p {
      text-transform: capitalize;
      font-size: .75rem;
      letter-spacing: .0625rem;
      margin: 0; }
    .fastMenu .fastMenu_Automaticas a, .fastMenu .fastMenu_Fotoperiodicas a, .fastMenu .fastMenu_CBD a, .fastMenu .fastMenu_FastFlower a {
      margin-bottom: 8px; }

.nuevosIngresos {
  display: flex;
  flex-direction: column; }

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  margin: 5px;
  justify-content: center; }

.inscripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  color: #63b85b; }
  .inscripcion form {
    width: 25rem;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: auto; }

#mensajeJS {
  width: auto; }

.piePagina {
  height: 100px;
  background-image: linear-gradient(to right, black, #42893c);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ede4e4; }
  .piePagina .piePagina_msj {
    font-size: 0.7rem;
    padding: 3px;
    text-align: center; }
  .piePagina .piePagina_logo {
    padding: 3px; }
  .piePagina .piePagina_contacto {
    font-size: 0.7rem;
    padding: 3px; }
    .piePagina .piePagina_contacto img {
      padding-bottom: 3px; }

.tituloCarrito {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  align-items: initial;
  background-image: linear-gradient(to left, black, #602185); }
  .tituloCarrito h3 {
    text-align: center;
    justify-self: end;
    margin: 10px;
    font-size: 1.2rem; }
  .tituloCarrito button {
    width: max-content;
    align-self: flex-end;
    margin: 10px; }

.detalleCarrito {
  display: flex;
  flex-direction: row; }

.listaCarrito {
  background-image: linear-gradient(to right, black, #42893c);
  padding: 10px;
  width: 50%;
  color: aliceblue; }
  .listaCarrito form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px; }

.detalleCompra {
  background-image: linear-gradient(to left, black, #602185);
  color: aliceblue;
  width: 50%; }

.catalogoPrincipal {
  display: flex; }
  .catalogoPrincipal .containerCatalogo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .catalogoPrincipal .containerCatalogo .catalogoFiltro {
      width: max-content;
      border-radius: 10px;
      border: 2px grey solid;
      margin: 10px;
      padding: 10px;
      position: relative; }
      .catalogoPrincipal .containerCatalogo .catalogoFiltro form {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .catalogoPrincipal .containerCatalogo .catalogoFiltro form .form-check {
          margin-right: 3px; }
        .catalogoPrincipal .containerCatalogo .catalogoFiltro form #limpiarFiltro {
          margin-left: 3px; }
    .catalogoPrincipal .containerCatalogo .catalogoVariedadFiltrada {
      height: 600px;
      display: flex;
      justify-content: center;
      column-gap: 2%;
      margin: 5px;
      text-align: center;
      padding: 5px;
      flex-wrap: wrap;
      border: 2px grey solid;
      border-radius: 5px;
      overflow-y: scroll; }
  .catalogoPrincipal .cardVariedad {
    width: auto;
    font-size: 0.9rem;
    height: auto;
    margin-bottom: 1%; }
    .catalogoPrincipal .cardVariedad p {
      text-align: justify; }

.cardCarrito {
  margin: 3px; }
  .cardCarrito img {
    padding: 2px; }
  .cardCarrito .card-body {
    padding: 2px; }
  .cardCarrito hr {
    margin: 0; }
  .cardCarrito p {
    margin-bottom: 2px; }
