
.tituloCarrito {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
 align-items:initial;
 h3 {
  text-align: left;
  justify-self: end;
  margin: 10px;
  font-size: 1.2rem;
 }
 button {
  width: max-content;
 align-self: flex-end;
 margin: 10px;
 }
}
.detalleCarrito {
  display: flex;
  flex-direction: row;
}
.listaCarrito {
background-image: linear-gradient(to right, black,#42893c);
  padding: 10px;
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
  }
}
.detalleCompra { 
  background-image: linear-gradient(to left, black,#602185 );;
  color:aliceblue;
  width: -webkit-fill-available;
}