.catalogoPrincipal {
  display: flex;
.containerCatalogo {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .catalogoFiltro {
    width: max-content;
    border-radius: 10px;
    border: 2px grey solid;
    margin: 10px;
    padding: 10px;
    position: relative;
    form {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
  }
  .catalogoVariedadFiltrada {
    height: 600px;
    display: flex;
    justify-content: center;
    column-gap: 2%;
    margin: 5px;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    border: 2px grey solid;
    border-radius: 5px;
    overflow-y: scroll;
  }
}
.cardVariedad {
  width: auto;
  font-size: 0.9rem;
  height: auto;
  margin-bottom: 1%;
  p {
    text-align: justify;
  }
}
}
#containerCarrito {
  width: fit-content;
  display: inline-flex;
  column-gap: 1%;
  flex-wrap: wrap;
  
}