.bannerCatalogo {
  @include tamanioBanner(12rem, 100%);
background-attachment: fixed;
background-position: bottom;
background-repeat: no-repeat;
background-size: cover;
  background-image: url(../images/bannerCatalogo1.jpg);
}
.catalogoPrincipal {
  
.containerCatalogo {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .catalogoFiltro {
    width: max-content;
    border-radius: 10px;
    border: 2px grey solid;
    margin: 10px;
    padding: 10px;
    position: relative;
    h4 {
      margin-top: 1rem;
      color:honeydew;
      font-family: 'Edu VIC WA NT Beginner', cursive;
      letter-spacing: 1.5px;
    }
    form {
    align-items: center;
    .form-check {
      margin-right: 3px;
    }
    #limpiarFiltro {
      margin-left:3px;
    }}
  }
  .catalogoVariedadFiltrada {
    height: 600px;
    display: flex;
    justify-content: center;
    column-gap: 2%;
    margin: 5px;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    border: 2px grey solid;
    border-radius: 5px;
    overflow-y: scroll;
  }
}
.cardVariedad {
  width: auto;
  font-size: 0.9rem;
  height: auto;
  margin-bottom: 1%;
  background-color: honeydew;
  p {
    text-align: justify;
  }
}
}
#containerCarrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
    
}
.containerCarrito h3 {
      margin-top: 1rem;
      color:honeydew;
      font-family: 'Edu VIC WA NT Beginner', cursive;
      letter-spacing: 1.5px;
    }
.seccionCarrito {
  display:flex;
  
}
.cardCarrito {
  margin: 3px;
  background-color: #212529;
  border: solid 1px white;
  img {
    padding:2px;
  }
  .card-body {
    padding: 2px;
  }
  hr {
    margin: 0;
  }
  p {
    margin-bottom: 2px;
  }
}
#resumenCompra {
    margin-right: 1rem;
    border: solid 1.5px white;
    border-radius: 10px;
    padding: 10px;
    background-color: honeydew;
    color: black;
}
#btnVaciar {
  margin: 10px;
}
#btnComprar {
  margin-top: 4rem;
}